@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body{
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

div#interface{
    width: 900px;
    background-color: white;
    margin: -10px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
    border-radius: 2px;
}

p{
    text-align: justify;
    text-indent: 50px;
}

/* Formatação Cabeçalho */

header#cabecalho a#marca{
    display: block;
    width: 100px;
    height: 41px;
    margin-left: 10px;
    background: url(../imagens/marca-pess-peq.png) no-repeat;
    background-size: contain;
    transition: background 1s;
}

header#cabecalho a#marca:hover{
    background: url(../imagens/marca-prof-peq.png) no-repeat;
    background-size: contain;
}
header#cabecalho h1{
    font-family: 'Oswald', sans-serif;
    font-size: 15pt;
    margin: 0;
    padding: 0;
}
header#cabecalho h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: darkgrey;
    font-style: italic;
}
header#cabecalho img#icone{
    position: absolute;
    left: 67%;
    top: 0px;
}
header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 120px;
}

/* Formatação de Imagens com Legendas */

figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    max-width: 600px;
    box-shadow: 1px 1px 4px black;
    margin: 10px auto 10px auto;
}
figure.foto-legenda h3{
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
    margin: 0 auto;
}
figure.foto-legenda img{
    width: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.5s;
    border-radius: 2px;
}
figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/* Formatação do Menu */

nav#menu{
    display: block;
}
nav#menu ul{
    position: absolute;
    top: -20px;
    left: 50%;
    list-style: none;
    text-transform: uppercase;
}
nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px 10px 5px 10px;
    margin: 2px;
    transition: background-color 0.5s;
    border-radius: 2px;
}
nav#menu li:hover{
    background-color: #606060;
}
nav#menu h1{
    display: none;
}
nav#menu a{
    color:black;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
nav#menu a:hover{
    color: white;
}

/* Formatação da Section#conteudo */

section#conteudo{
    padding: 10px;
}
section#conteudo h2{
    background-color: #dddddd;
    font-family: 'Oswald', sans-serif;
    font-size: 18pt;
    padding: 5px 10px;
}
section#conteudo p{
    font-family: arial, sans-serif;
    font-size: 12pt;
    text-align: justify;
}
section#conteudo p#texto{
    padding: 0 20px;
}

/* Formatação do Footer#rodape*/

footer#rodape{
    border-top: 1px #606060 solid;
}
footer#rodape p{
    text-align: center;
    font-family: sans-serif;
    font-size: 10pt;
    font-style: italic;
    line-height: 20px;
}
footer#rodape a{
    text-decoration: none;
    color: dodgerblue;
}